div {
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: auto;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows:1fr 6fr 2fr 2fr 1fr ;
}

.header {
    background-color: #2ECC40;
    grid-column-start: 1;
}

.menu {
   background-color:#FFDC00;
   grid-column-start: 2;
   grid-column-end: span 4;
}

.content1 {
    background-color: #F012BE;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.content2 {
    background-color: #0074D9;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
   
}

.image {
    background-color: #FF4136;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

.extra {
    background-color: #01FF70;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
   
}

.footer {
    background-color: #B10DC9;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 5;
}